* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  div{
      
  }
  
  /* Style the header */
  header {
    background-color: #fb6c0d;
    padding: 30px;
    text-align: left;
    padding-left: 100px;
    font-size: 35px;
    color: white;
     
  }
  .subtask a:before {
    content: '\2022';
    font-size: 190%;
    color: rgb(250, 69, 13);
    padding: 10px;
    margin-left: -25px;
    text-shadow: 0 0 3px #ff5100, 0 0 5px #f17575; /* or whatever color you prefer */
  }
  .f a {
    content: '\2022';
    font-size: 90%;
    color: rgb(250, 69, 13);
   
    text-shadow: 0 0 3px #ff5100, 0 0 5px #f17575; /* or whatever color you prefer */
  }
   header .tap{
       float: left;
   }
  article {
    background-color: #fafafa;
    margin: -20px 20px 20px 20px;
    height: 75vh;
    padding: 50px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px gray;
  }
  
  img{
      background-color:#fb6c0d ;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      padding: 10px;
      margin-top: -100px;
      box-shadow: 1px -1px 10px 0px rgb(153, 148, 148);
  }
  .mydiv{
      display: none;
  }
  .subtask{
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 2px 0px gray;
      animation: example .5s ;
  }
  .one{
    animation-delay: .1s;
  }
  .two{
    animation-delay: .2s;
  }
  .three{
    animation-delay: .3s;
  }
  .newchat{
    text-align: center;
    width: 50%; 
    margin: auto; 
    padding: 20px;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 2px 0px gray;
    animation: opasity 1.5s ;
  }

  @keyframes example {
    0% {
      transform: scale(0);
    }
    
    100% {
      transform: scale(1);
    }
  }
  @keyframes opasity {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    header{padding-left: 20px;}
    article{
        padding: 20px;
        height: 90vh;
    }
    .newchat{
        width: 70%;
    }
  }
  @media (max-width: 330px) {
    .newchat{
        padding: 5px;
    }
  }